<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.EnterprisetalentMapper">
    <select id="getPersonPage" resultType="com.kgc.pojo.Enterprisetalent">
        SELECT enterprisetalent.* ,department.deptname
			FROM  enterprisetalent
			INNER JOIN department
			ON departmentId=department.id
        <where>
            <if test="id!=null and id!=-1"> and departmentId=#{id} </if>
        </where>
        LIMIT #{from},#{pageSize}

    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM enterprisetalent
        <where>
            <if test="id!=null and id!=-1"> and departmentId=#{id} </if>
        </where>

    </select>

</mapper>  